<ion-view title="Copic Sketch Color Chart" id="page5">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="Color Card Search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Seach Color i.e. B00">
            </label>
            <div class="button-bar"></div>
            <div class="button-bar">
                <button id="copicSketchColorChart-button10" class="button button-positive  button-block">Owned</button>
                <button id="copicSketchColorChart-button11" class="button button-positive  button-block">Not Owned</button>
            </div>
        </form>
        <div class="list card">
            <div class="item item-divider">B00</div>
            <div class="item item-body"></div>
        </div>
        <div class="list card">
            <div class="item item-divider">B01</div>
            <div class="item item-body"></div>
        </div>
        <div class="list card">
            <div class="item item-divider">B02</div>
            <div class="item item-body"></div>
        </div>
        <div class="list card">
            <div class="item item-divider">B03</div>
            <div class="item item-body"></div>
        </div>
        <div class="list card">
            <div class="item item-divider">B04</div>
            <div class="item item-body"></div>
        </div>
    </ion-content>
</ion-view>