<ion-view title="Copic Sketch Color Chart" id="page5">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <div class = "row">
                <label class="item item-input half-width" name="Color Card Search">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input ng-model = "searchCode.code" type="search" placeholder= "By code (i.e. B00)">
                </label>
                <label class="item item-input half-width" name="Color Card Search">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input ng-model = "searchCode.name" type="search" placeholder="By name (i.e. Black)">
                </label>
            </div>
            <div class="button-bar"></div>
            <div class="button-bar">
                <button id="copicSketchColorChart-button10" class="button button-positive  button-block">Owned</button>
                <button id="copicSketchColorChart-button11" class="button button-positive  button-block">Not Owned</button>
            </div>
        </form>
        <div class="list card" ng-repeat = "color in colors | filter:searchCode">
            <div class="item item-divider" ng-style = "style(color.bg)">{{color.code}}</div>
            <div class="item item-body">{{color.name}}</div>
        </div>
    </ion-content>
</ion-view>